# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn_cache/*
!.yarn_cache/.gitkeep

# testing
/coverage

# next.js
.next/
/out/

# production
/build

# misc
.DS_Store
.env*
!.env.default

# debug
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# lock files
*.lock
*lock.json
=======
# ignore *.local files
*.local
